.breadcrumb {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 1%;
}

.container {
    margin-left: 4%;
    margin-right: 4%;
}

.navbar-btn-img {
    margin-right: 5%;
}

.profile-img {
    border-radius: 9px;
}

.button.is-discord {
    background-color: #7289DA;
    border-color: transparent;
    color: #fff;
}

.button.is-discord:hover,
.button.is-discord.is-hovered {
    background-color: #7777CC;
    border-color: transparent;
    color: #fff;
}

.bottom-pinned {
    bottom: 0%;
    left: 0%;
    right: 0%;
    position: absolute;
}

.notification-message {
    right: 0.5%;
    top: 6%;
    margin-left: 80%;
    position: absolute;
    box-shadow: 2px 2px 2px grey;
}